*{
    padding: 0;
    margin: 0;
}
.top{
    display: flex;
    border-bottom: solid 1px black;
    padding-bottom: 10px;
    background-color: rgb(243, 237, 237);
}

#star{
    padding-left: 30px;
    color: rgb(218, 57, 57);
    padding-top: 10px;
}
.hello{
    padding-top: 15px;
    padding-left: 3px;
}
.home{
    padding-left: 350px;
    padding-top: 25px;
}
.abot{
    padding-left: 30px ;
    padding-top: 25px;
}
.hist{
    padding-left: 30px ;
    padding-top: 25px;
}   
.res{
    padding-left: 30px ;
    padding-top: 25px;
}
.con{
    padding-left: 30px ;
    padding-top: 25px;

}
.but{
    margin-left: 160px;
    margin-top: 20px;
    padding: 5px 25px 5px 25px;
}
#s1{
    padding-left: 600px;
    color:rgb(218, 57, 57); 
}
.mid{
    display: flex;
    padding-left: 110px;
    border-bottom: solid 1px black;
}
.midin{
    padding-top: 80px;
}

.h1{
    display: flex;
}

.h2{
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    margin-right: 100px;
    
}
.h{
    color: rgb(29, 129, 206);
}
.e{
    color: rgb(225, 152, 15);
}
.l{
color: rgb(218, 57, 57); ;
}
.ll{
    color: rgb(218, 57, 57); 
}
.o{
    color: rgb(18, 214, 18);
}
.but2{
    margin-top: 20px;
    padding: 10px 50px 10px 50px;
    border-radius: 20px ;
    border: solid 1px;
}
.img{
    padding-left: 210px;
    
}
.mob{
    display: flex;
}
#star2{
    color:rgb(218, 57, 57);
    padding-left: 20px;
}
.re{
color: rgb(29, 129, 206);

}
.fr{
    color: rgb(225, 152, 15);

}
.mk{
    color: rgb(218, 57, 57); 

}
.pl{
    color: rgb(18, 214, 18);
}
.down{
    position: relative;
}
.up{
    position: absolute;
    padding-left: 840px;
    padding-top: 70px;
}
.but3{
    padding: 5px 10px 5px 10px;
    margin-left: 15px;
    color: aliceblue;
    background-color: black;
    border: solid 2px aliceblue;
}
#s2{
    padding-left: 600px;
    color:rgb(218, 57, 57); 

}